<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <title>ThisPari Felpa</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <img img style="border-radius:50%" src="/static/immagini/photo.jpg"  class="logob"/>
    <ul>
        <li><a href="/shop">HOME</a></li>
        <li><a href="/about-us">ABOUT US</a></li>
        <li><a href="/contact-us">CONTACT US</a></li>
    </ul>
    </nav>
    <!-- Intro -->
   
    <center><div class="intro">
    <p>
      <img src="/static/immagini/pelataleks.jpeg"></img>
    </p>
    </div></center>
      
  </header>

        <!-----footer-------------------->
        <section id="footer">
            
            <div class="foot">
                <ul>
                    <li><a href="/shop">HOME</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/contact-us">CONTACT US</a></li>
                <div class="social-links">
                    <a href="https://www.instagram.com/this.pari/"><i class="fab fa-instagram"></i></a>
                  </div>
            </div>
        </section>
      
</body>

</html>


